@model IEnumerable<BookDetailsModel>
@{
	ViewBag.Title = "Welcome!";
	var books = Model.ToList();

}
@if (Model.Any() == false)
{
	<div class="jumbotron">
		<h1 class="display-4">Welcome to the best place for book lovers!</h1>
		<p class="lead">There are no books in the system currently available so why don't you just add one?</p>
		<hr class="my-4">
		<p class="lead">
			<a asp-controller="Book" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Book</a>
		</p>
	</div>
}
else{
			<h1 class="text-center">Welcome to the best book place!</h1>
			<h3 class="text-center">That's our last three added books by our clients! Enjoy!</h3>

}

<div class="mb-5"></div>
<div class="container" style="display:inline">

	@for (int i = 0; i < books.Count; i++)
	{
		var book = books[i];

		var base64 = Convert.ToBase64String(book.BookPhoto);

		var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
		<div class="container" style="display:inline">
			<div class="row">
				<div class="col-4">
					<img class="card-img-top" style="width: 25rem;"
					 src="@imgSrc" alt="House Image">
				</div>
				<div class="card col-8 border-0">
					<p style="font-size:35px;"><u>@book.Title</u></p>
					<p>Author: <b>@book.AuthorFirstName @book.AuthorLastName</b></p>
					<p>Genre: <b>@book.GenresName</b></p>
					<p>Pages: <b>@book.Pages</b></p>
					<p>Publisher: <b>@book.PublisherName</b></p>
					<p>User Feedback: <b>@book.Description</b></p>
					<p><i>(@(book.IsRecommended ? "Recommended" : "Not Recommended"))</i></p>
					<a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
				</div>
			</div>
		</div>
	}
</div>


<div class="mb-5"></div>

<div class="row">
	<div class="col-12 text-center">
		<button class="btn btn-primary" id="statistics-button">Show Statistics</button>
	</div>
</div>

<div class="jumbotron d-none" id="statistics">
	<div class="row">
		<h2 class="col-md-4 text-center" id="total-cars"></h2>
		<h2 class="col-md-4 text-center" id="total-users"></h2>
		<h2 class="col-md-4 text-center" id="total-rents"></h2>
	</div>
</div>

@section Scripts {
	<script>
		$('#statistics-button').on('click', ev => {
			$.get('/api/statistics', (data) => {
				$('#total-cars').text(data.totalPagesReaded + " Cars");
				$('#total-users').text(data.totalBooksReaded + " Users");
				$('#total-rents').text(data.totalGenresReaded + " Rents");

				$('#statistics').removeClass('d-none');
				$('#statistics-button').hide();
			});
		});
	</script>
	}
