@model BookDetailsModel

@{
	ViewData["Title"] = "Book Details";
}

<h2 class="text-center">Book Details</h2>
<hr />
@{
	var base64 = Convert.ToBase64String(Model.BookPhoto);
	var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}
<div class="container" style="display:inline">
	<div class="row">
		<div class="col-4">
			<img class="card-img-top" style="width: 25rem;"
				 src="@imgSrc" alt="House Image">
		</div>
		<div class="card col-8 border-0">
			<p style="font-size:35px;"><u>@Model.Title</u></p>
			<p>Author: <b>@Model.AuthorFirstName @Model.AuthorLastName</b></p>
			<p>Genre: <b>@Model.GenresName</b></p>
			<p>Pages: <b>@Model.Pages</b></p>
			<p>User Feedback: <b>@Model.Description</b></p>
			<p>Publisher: <b>@Model.PublisherName</b></p>
			<p><i>(@(Model.IsRecommended ? "Recommended" : "Not Recommended"))</i></p>
		</div>
	</div>
</div>