@using BookExperience.Core.Extensions
@using BookExperience.Core.Models
@model IEnumerable<MineBooksModel>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="row">

	@if (SignInManager.IsSignedIn(User))
	{
		var userId = User.GetId();

		@foreach (var book in Model)
		{
			var base64 = Convert.ToBase64String(book.BookPhoto);
			var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

			<div class="col-md-4">
				<div class="card mb-3">
					<img src="@imgSrc" alt="@book.Title - @book.AuthorFirstName @book.AuthorLastName (@book.GenreName)">
					<div class="card-body text-center">
						<h5 class="card-title text-center">@book.Title  (@book.GenreName)</h5>
					</div>
				</div>
			</div>
		}
	}
</div>
@if (Model.Count() == 0)
{
	<h1>There are no books!</h1>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}

