@using BookExperience.Core.Services.Author
@using BookExperience.Core.Services.Book
@using BookExperience.Core.Services.ApplicationUser
@using BookExperience.Core.Services.WantedBooks
@inject IApplicationUserService userService
@inject IBookService bookService
@inject IWantedBooksService wantedBooksService
@inject IAuthorService authorService

<div class="row">
	@{

		var books = this.wantedBooksService.GetWantedBooksByUserId(User.GetId());


		@foreach (var incomeBook in books)
		{
			var book = this.bookService.GetDetailsForBookById(incomeBook.BookId);

			var base64 = Convert.ToBase64String(book.BookPhoto);
			var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

			<div class="col-md-4">
				<div class="card mb-3">
					<img src="@imgSrc " style="width: 25rem">
					<div class="card-body text-center">
						<h5 class="card-title text-center">@book.Title by @book.AuthorFirstName @book.AuthorLastName</h5>
					</div>
				</div>
			</div>
			<div class="card col-2 border-10">
				<p style="font-size:15px;"><u>@book.Title</u></p>
				<p>Author: <b>@book.AuthorFirstName @book.AuthorLastName</b></p>
				<p>Pages: <b>@book.Pages</b></p>
				<p>Description: <b>@book.Description </b></p>
				<p><i>(@(book.IsRecommended ? "Recommended" : "Not Recommended"))</i></p>

				<a asp-controller="WantedBooks" asp-action="RemoveFromWanted" asp-route-id="@incomeBook.Id" class="btn btn-danger">Remove from Wanted</a>
			</div>
		}
	}
</div>


@if (books.Count() == 0)
{
	<h1 class="text-center">There are no books!</h1>
}
